@model List<Postagem>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog do Garbi</h1>
    <p>Confira aqui as ultimas noticias <del> HxH!!!</del></p>
</div>

@foreach (Postagem postagem in Model){
    <p>@postagem.Nome</p>
    <img src="@postagem.Foto" width="400">
    <p>@postagem.Descricao</p>
}